.container {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  min-height: 8.5rem !important;
  margin: auto;
  margin-top: 1rem !important;
}

.bar {
  max-width: 3px;
  min-height: 90%;
  background-color: #c5c5c5;
}
.side {
  min-height: 100%;
  width: 50%;
  margin: 0;
}
